<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script
</head>
<body>
<div id="permissions-container" data-permissions='{{ json_permissions }}'>
    <p id="can-edit">Can Edit: </p>
    <p id="can-delete">Can Delete: </p>
</div>

<script>


        $(document).ready(function() {
        var permissionsStr = $('#permissions-container').attr('data-permissions');
        console.log("json : ",typeof permissionsStr);
             // 嘗試直接解析
        var permissions = JSON.parse(permissionsStr);
        console.log('success');

        console.log('權限:', permissions);
        console.log('Can Edit:', permissions.can_edit);
        console.log('Can Delete:', permissions.can_delete);
        console.log("js object:",typeof permissions);

    });
</script>
</body>
</html>